@import "typography";
@import "projects-list";
@import "project-card";
@import "icon";

html,
body {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  margin: 0;
  background-color: #f7f7f7;
}
